{% include "store/base.html" %}

{% load static %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
            <h2 class="text-center">Profile</h2>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    
</div>
{% endblock %}
