{% include "store/base.html" %}


{% load static %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="my-4">Your Order</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td>{{item.quantity}} </td>
                        <td>{{item.product.price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4 class="text-right">Total: {{product_price}}</h4>

            
        </div>
        <div class="col-md-6">
            <h2 class="my-4">Checkout</h2>

            <div class="card">
                <div class="card-body">
                    <p>Name : <strong>{{user.profile.name}}</strong></p>
                    <p>Phone Number : {{user.profile.phone}}</p>
                    <p>Address : {{user.profile.shipping_address}}</p>
                </div>
            </div>
            <form method="post" action='{% url "payment" %} '>
                {% csrf_token %}

                <!-- select payment method -->
                <div class="form-group">
                    <label for="payment">Payment Method</label>
                    <select class="form-control" name="payment" id="payment">
                        <option selected>Select payment method</option>
                        <option value="cash">Cash</option>
                        <option value="ssl">SSL-COMMERZ</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

